#logo{
	margin-top: 0px;
}

#hotkey{
	margin-left: 25px;
	font-size: 30px;
	color: white;
	text-decoration: none;
	font-family: serif;
}

#contact{
	margin-left: 500px;
	font-size: 20px;
	color: white;
	text-decoration: none;
	font-family: serif;
}

#label{
	font-size: 50px;
	color: rgb(22, 0, 100);
	text-decoration: none;
	font-family: serif;
	margin-right: 1000px;
	padding: 10px;
	background-color: rgb(239, 241, 255);
	border: 1px solid lightgray;
}

#content{
	font-family: serif;
	padding-top: 40px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	border-left: 1px solid lightgray;
	border-right: 1px solid lightgray;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 500px;
	margin-right: 500px;
}
#content:hover{
	background-color: rgb(243, 247, 255);
	box-shadow: 0px 0px 10px lightgray;
	font-family: serif;
	padding-top: 40px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	border-left: 1px solid lightgray;
	border-right: 1px solid lightgray;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 500px;
	margin-right: 500px;
}

#author{
	font-size: 15px;
	color: rgb(50, 50, 50);
	text-decoration: none;
	font-style: italic;
	font-family: Arial;
	margin-right: 350px;
}

#content_text{
	font-size: 19px;
	color: rgb(0, 0, 0);
	text-decoration: none;
	font-family: serif;
}

#date{
	font-size: 15px;
	color: rgb(100, 100, 100);
	margin-left: 400px;
	text-decoration: none;
	font-family: Arial;
}

#footer{
	background-color: darkblue;
	text-align: center;
	padding: 10px;
	font-family: serif;
	color: rgb(255, 255, 255);
	margin-top: 20px;
	padding-top: 40px;
	padding-bottom: 40px;
	width: 100%;
}


#contact2{
	font-size: 20px;
	color: white;
	text-decoration: none;
	font-family: serif;
}

#news_content{
	font-family: serif;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 350px;
	margin-right: 350px;
	text-align: justify;
	font-size: 22px;
}

#title{
	font-size: 50px;
	color: rgb(0, 0, 0);
	text-decoration: none;
	font-family: serif;
	font-weight: bold;
	text-align: left;
	margin-bottom: 20px;
}

#date_news{
	font-size: 15px;
	color: rgb(100, 100, 100);
	text-decoration: none;
	font-family: Arial;
}

#author_mews{
	font-size: 15px;
	color: rgb(50, 50, 50);
	text-decoration: none;
	font-style: italic;
	font-family: Arial;
}

#subhead_news{
	font-size: 35px;
	color: rgb(0, 0, 0);
	text-decoration: none;
	font-family: serif;
	font-weight: bold;
	margin-top: 20px;
	margin-bottom: 20px;
}

#subtitle{
	font-size: 25px;
	color: rgb(80, 80, 80);
	text-decoration: none;
	font-family: serif;
	font-style: italic;
	margin-bottom: 20px;
}
#small_text{
	font-size: 15px;
	color: rgb(80, 80, 80);
	text-decoration: none;
	font-family: serif;
	font-style: italic;
	margin-bottom: 20px;
}

#contact_box{
	font-family: serif;
	padding-top: 40px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	border-left: 1px solid lightgray;
	border-right: 1px solid lightgray;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 500px;
	margin-right: 500px;
}
#more{
	font-size: 20px;
	color: rgb(90, 90, 90);
	text-decoration: none;
	font-family: serif;
}

#box{
	text-align: center;
	margin-top: 50px;
	margin-bottom: 50px;
	margin-left: 760px;
	margin-right: 760px;
	border-left: 1px solid lightgray;
	border-right: 1px solid lightgray;

}

